@import url("https://img.freepik.com/free-photo/cool-geometric-triangular-figure-in-a-neon-laser-light-great-for-backgrounds-and-wallpapers_181624-9331.jpg?w=2000");
* {
  padding: 0;
  margin: 0px;
}

h1 {
  color: white;
  font-family: "Bebas Neue", cursive;
}

.regestration {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("https://img.freepik.com/free-photo/cool-geometric-triangular-figure-in-a-neon-laser-light-great-for-backgrounds-and-wallpapers_181624-9331.jpg?w=2000");
}

.logo {
  width: 200px;
}

.regestration__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 380px;
  max-width: 500px;
}

.input {
  min-width: 400px;
  min-height: 50px;
  border-radius: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  background-color: #161b22;
  color: white;
  border: none;
}
.input::placeholder {
  color: white;
}
.input:focus {
  min-width: 400px;
  min-height: 50px;
  border-radius: 15px;
  padding-left: 15px;
  text-shadow: 3px;
  color: white;

  outline: none !important;
  border: 1px solid #1ed760;
  box-shadow: 0 0 10px #1ed760;
}

.rgs__btn {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  font-size: 30px;
  letter-spacing: 2px;

  background-color: #1ed760;
  box-shadow: 0 0 20px #1ed760;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.5s;
  font-family: "Bebas Neue", cursive;
}

.rgs__btn:hover {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  letter-spacing: 10px;
  transition-duration: 0.3s;
  background-color: rgb(146, 0, 203);
  box-shadow: 0 0 20px rgb(146, 0, 203);
  transition: 0.5s;
}

.rgs__btn:focus {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  transition-duration: 1s;
  background-color: #1ed760;
  box-shadow: 0 0 20px #1ed760;
}

.video {
  position: absolute;
  width: 100%;
  height: 100vmax;
  z-index: -1;
}
